@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: $font-base;
    background-color: $color-gray-300;
    color: $color-white;
}