$color-black: #000;
$color-white: #FFF;
$color-gray-50: #959595;
$color-gray-200: #2C2C2C;
$color-gray-300: #202224;
$color-gray-400: #1F1F20;
$color-gray-500: #131314;
$color-primary: #FE245D;
$color-secondary: #F0EF79;

$opacity-xxs: 5%;
$opacity-xs: 10%;
$opacity-sm: 20%;
$opacity-md: 60%;
$opacity-lg: 100%;

$font-base: 'Inter', sans-serif;

$radius-sm: 4px;
$radius-md: 12px;
$radius-lg: 24px;
$radius-xl: 32px;
$radius-round: 50%;

$text-sm: 12px;
$text-md: 16px;

$spacing-3xs: 4px;
$spacing-2xs: 6px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;
$spacing-2xl: 94px;